body, h1{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

input{
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    border: none;
}

button {
    background-color: #A68F97;
    padding: 10px;
    border-radius: 5px ;
    border: none;
    border-bottom: 10px;
}

.text, .text2, .heading, .message, .bmi-output {
    font-size: 22px;
    padding: 0px;
    margin: 5px;
}

